:root{
    --black: #181818;
    --purple: #954CED;
    --orange: #FFAA4C;
    --white: #FFFFFF;
    --gray: #B9B9B9;
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    font-family: 'Outfit';
    font-weight: 400;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--white);
}

li{
    list-style: none;
}

button{
    font-family: 'Outfit';
}

.container{
    /* max-width: 1080px; */
    max-width: 80%;
    /* padding: 0 20px; */
    margin: 0 auto;
}

.header__container{
    /* max-width: 1040px; */
    max-width: 80%;
    padding: 0 10px;
    margin: 0 auto;
}

/* PATTERN START */

.btn{
    padding: 16px 30px;
    background-color: var(--purple);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: 0.5px;
    color: var(--white);
    border-radius: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* PATTERN END */

/* HEADER START */

#header {
}

.tabs__container{
    background-color: var(--orange);
    height: 38px;
}
.tabs {
    display: flex;
    align-items: center;
}
.tabs-item {
    padding: 9px 40px;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.tabs-item.active {
    background-color: var(--black);
    color: var(--white);
}

.header__body{
    padding: 7px 0;
    background-color: var(--black);
    height: 71px;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__logo > picture:last-child{
    display: none;
}

.burger{
    display: none;
    position: relative;
    width: 24px;
    height: 20px;
    cursor: pointer;
    z-index: 101;
}

.burger span{
    background-color: var(--white);
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    transition: all 0.2s ease;

}

.burger span:nth-child(1){
    top: 0;
}
.burger span:nth-child(2){
    top: 50%;
    transform: translateY(-50%)
}
.burger span:nth-child(3){
    bottom: 0;
}

.burger.active{
    position: absolute;
    top: 15px;
    right: 15px;
}

.burger.active span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger.active span:nth-child(2){
    opacity: 0;
    transform: translateX(-100%);
}

.burger.active span:nth-child(3){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.burger__menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--black);
    z-index: 100;
    transform: translateY(100%);
    transition: all 0.2s ease;
}

.burger__wrapper{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 177px;
}

.burger__menu.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.burger__links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.burger__links > li > a{
    font-size: 2rem;
    font-weight: 500;
    line-height: 25.2px;
    position: relative;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.burger__links > li > a:hover::after{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: var(--white);
    animation: underline 0.3s 1 ease;
}

@media(max-width: 767px){
    .burger{
        display: block;
    }
    .header__btn{
        display: none;  
    }
    .header__logo > picture:first-child{
        display: none;
    }
    .header__logo > picture:last-child{
        display: block;
    }
}

@media(max-width: 480px){
    .container{
        max-width: 100%;
    }
    .header__container{
        max-width: 100%;
    }
    
}

/* HEADER END */

/* HERO START */


#hero{
    background-color: var(--black);
    height: calc(100dvh - 71px - 38px);
    position: relative;
}

.hero__container{
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__textbox{
    max-width: 60%
}

.hero__textbox > h1{
    font-size: 9.6rem;
    font-weight: 700;
    line-height: 101.76px;
    color: var(--white);
    letter-spacing: 2px;
}

.hero__textbox > p{
    max-width: 534px;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--white);
}

.hero__textbox > button{
    margin-top: 40px;
}

.hero__back-image{
    max-width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media(max-width: 767px){
    .hero__container{
        width: 95%;
        display: block;

    }
    .hero__textbox{
        max-width: 100%;
        padding-top: 51px;
    }
    .hero__textbox > h1{
        font-size: 4rem;
        font-weight: 700;
        line-height: 42.4px;
    }  
    .hero__textbox > p{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 20.16px;
    }    
    .hero__textbox > button{
        width: 100%;
    }
    .hero__back-image{
        max-width: 60%;
    }
}

.cookie__modal{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1285px;
    background-color: var(--white);
    z-index: 101;
    border-radius: 16px;
    box-shadow: -10px -5px 30px 0px #8D8D8D1A;

    transition: all 0.2s ease;
}

.cookie__modal.active{
    visibility: visible;
    opacity: 1;
}

.cookie__modal-content{
    padding: 30px 60px 30px 30px;
    position: relative;
    display: flex;  
    justify-content: space-between;
    gap: 50px;

}

.cookie__modal-content > p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 28px;
    color: #383838;
}

.cookie__btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cookie__btn-decline{
    color: var(--black);
    font-family: Outfit;
    font-size: 2rem;
    font-weight: 600;
    line-height: 25.2px;
    border: 2px solid var(--purple);
    padding: 16px 30px;
    border-radius: 16px;
    background-color: var(--white);
    cursor: pointer;
}

.cookie__close{
    position: absolute;
    top: 16px;
    right: 8px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.cookie__close span{
    background-color: var(--gray);
    position: absolute;
    width: 10px;
    height: 1px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.cookie__close span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.cookie__close span:nth-child(2){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

@media(max-width: 991px){
    .cookie__modal-content{
        flex-direction: column;
        gap: 40px;
        padding: 30px;
    }
    .cookie__btns{
        flex-direction: column;
        gap: 20px;
    }
    .cookie__btn-accept, .cookie__btn-decline{
        width: 100%;
    }
}

@media(max-width: 480px) and (max-height: 767px){
    .hero__back-image{
        max-width: 70%;
    }
    
}

@media(max-width: 480px) and (min-height: 767px){
    .hero__back-image{
        max-width: 90%;
    }
    
}

/* HERO END */

/* ABOUT START */

#about {
    position: relative;
    padding-top: 100px;
    background-color: var(--black);
}
.about__inner {
}

.about__container{
    max-width: 90%;
    padding: 0 10px;
    margin: 0 auto;
}

.about__inner > h2 {
    font-size: 9.6rem;
    font-weight: 700;
    line-height: 101.76px;
    color: var(--white);
}
.about__content {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
.about__content-text{
    max-width: 410px;
}

.about__content-text > p, .about__content-text > p > span {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 45.36px;
    color: var(--white);
}
.about__content-text > p > span {
    position: relative;
    white-space: nowrap;
    z-index: 1;
}
.about__content-text > p > span::before {
    content: '';
    position: absolute;
    width: 105%;
    height: 35px;
    top: 8px;
    left: -5px;
    background-color: var(--purple);
    transform: rotate(-1deg);
    border-radius: 30px;
    z-index: -1;
}
.about__content-grid {
    display: grid;
    grid-template-columns: repeat(2, 321px);
    gap: 70px; 
    color: var(--white);
}

.about__content-grid > div > img{
    width: 100px;
    height: 100px;
}

.about__content-grid > div > h3{
    margin-top: 10px;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 50.88px;
}

.about__content-grid > div > p{
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 28.8px;
}

.about__back-image{
    position: absolute;
    left: 0;
    bottom: 0;
}


@media(max-width: 1200px){
    .about__content-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .about__inner > h2{
        font-size: 6rem;
    }
}

@media(max-width: 991px){
    .about__content-grid{
        gap: 60px;
    }
}

@media(max-width: 767px){
    #about{
        padding-top: 40px;
    }
    .about__content{
        display: block;
        margin-top: 30px;
    }
    .about__back-image{
        display: none;
    }

    .about__inner > h2{
        font-size: 4rem;
        line-height: 42.4px;
    }
    .about__content-grid{
        margin-top: 40px;
    }
    .about__content-text > p, .about__content-text > p > span {
        font-size: 2.4rem;
        line-height: 28.8px;
    }
    .about__content-text > p > span::before{
        width: 105%;
        height: 25px;
        top: 4px;
        left: -5px;
        background-color: var(--purple);
        transform: rotate(-1deg);
        border-radius: 30px;
        z-index: -1;    
    }

    .about__content-grid > div > h3{
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 33.92px;
    }
    
    .about__content-grid > div > p{
        margin-top: 16px;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 20.16px;
    }
}
/* ABOUT END */

/* WORK START */

#work{
    padding: 100px 0;
    background-color: var(--black);
    position: relative;
}

.banner-container {
    padding: 46px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    white-space: nowrap;
}

.banner-item {
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;
}

.banner-1, .banner-3 {
    animation: move-left 50s linear infinite;
}

.banner-2 {
    animation: move-right 50s linear infinite;
}

.banner-1 > p:nth-child(odd) {
    color: #2FDBBC;
}
.banner-1 > p:nth-child(even) {
    color: var(--black);
    text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444;
}

.banner-2 > p:nth-child(even) {
    color: #A64CED;
}
.banner-2 > p:nth-child(odd) {
    color: var(--black);
    text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444;
}

.banner-3 > p:nth-child(odd) {
    color: #FFAA4C;
}
.banner-3 > p:nth-child(even) {
    color: var(--black);
    text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444;
}

.banner-item > p {
    white-space: nowrap; 
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 135.68px;
}

@keyframes move-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-2105.68px);
        /* 2 times of one word length + 40px for gap *//
    }
}
@keyframes move-right {
    from {
        transform: translateX(-2105.68px);
    }
    to {
        transform: translateX(0);
        /* 2 times of one word length + 40px for gap *//
    }
}

@keyframes move-left-mobile {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-814.62px);
        /* 2 times of one word length + 40px for gap *//
    }
}
@keyframes move-right-mobile {
    from {
        transform: translateX(-814.62px);
    }
    to {
        transform: translateX(0);
        /* 2 times of one word length + 40px for gap *//
    }
}


.work__phone-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media(max-width: 480px){
    #work{
        padding: 40px 0;
    }
    .banner-container{
        padding: 40px 0;
    }
    .banner-item > p {
        font-size: 4.8rem;
        line-height: 50.88px;
    }
    .banner-1, .banner-3 {
        animation: move-left-mobile 20s linear infinite;
    }
    
    .banner-2 {
        animation: move-right-mobile 20s linear infinite;
    }
}

/* WORK END */

/* STATS START */
#stats {
    padding: 40px 0;
    background-color: var(--purple);
}
.stats__container {
    color: var(--white);
}
.stats__inner {
    padding: 0 20px;
}
.stats__stats-items {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.stats__stats-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.stats__stats-item > h3 {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 67.84px;
}

.stats__stats-item > p {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 1px;
}

@media(max-width: 767px){
    .stats__stats-items {
        gap: 50px;
    }
}

@media(max-width: 480px){
    .stats__stats-items {
        gap: 40px;
        flex-direction: column;
    }
    .stats__stats-item {
        flex-direction: row;
        align-items: center;
    }
}

@media(max-width: 425px){
    .stats__br{
        display: none;
    }

    .stats__stats-item{
        gap: 20px;
    }

    .stats__stats-item > h3 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 42.4px;
    }
    
    .stats__stats-item > p {
        font-size: 2rem;
        font-weight: 600;
        line-height: 25.2px;
    }
    
}
/* STATS END */

/* FEATURES START */
#features {
    padding: 100px 0;
    background-color: var(--black);
}
.features__container {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;

}
.features__title {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 67.84px;
    color: var(--white);
    text-align: center;
}
.features__subtitle {
    max-width: 664px;    
    text-align: center;
    margin: 0 auto;
}

.features__subtitle > p, .features__subtitle > p > span {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 45.36px;
    color: var(--white);
}
.features__subtitle > p > span {
    position: relative;
    white-space: nowrap;
    z-index: 1;
}
.features__subtitle > p > span::before {
    content: '';
    position: absolute;
    width: 105%;
    height: 35px;
    top: 8px;
    left: -5px;
    background-color: var(--purple);
    transform: rotate(-1deg);
    border-radius: 30px;
    z-index: -1;
}
.features__grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
}

.grid__item-1 { grid-area: 1 / 1 / 2 / 4; }
.grid__item-2 { grid-area: 1 / 4 / 2 / 6; }
.grid__item-3 { grid-area: 2 / 1 / 3 / 3; }
.grid__item-4 { grid-area: 2 / 3 / 3 / 6; }
.features__grid-item {
    background-color: var(--white);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    height: 362px;
}

.features__grid-item > img {
    position: absolute;
}

.features__grid-item > div > h3 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 60.48px;
}
.features__grid-item > div > p {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 24px;
}
.grid__item-1{
    display: flex;
}
.grid__item-1 > picture{
    min-height: 100%;
}
.grid__item-1 > div {
    max-width: 364px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 40px;
    z-index: 1;
    position: relative;
}

.grid__item-1 > div > p {
    max-width: 334px;
}

.grid__item-2 > div {
    max-width: 416px;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 1;
    position: relative;
}

.grid__item-2 > img:nth-child(1){
    left: 72px;
    bottom: 0;
}

.grid__item-2 > img:nth-child(2){
    right: 50px;
    bottom: 0;
}

.grid__item-2 > img:nth-child(3){
    right: 0;
    top: 70px;
}

.grid__item-3 > div {
    max-width: 440px;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 1;
    position: relative;
}

.grid__item-3 > img{
    right: 0;
    bottom: 0;
}

.grid__item-3 > div > p {
    max-width: 308px;
}


.grid__item-4 > div {
    max-width: 402px;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 1;
    position: relative;
}

.grid__item-4 > img{
    right: 43px;
    bottom: 0;
}

@media(max-width: 1130px){
    .features__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .grid__item-1, .grid__item-2, .grid__item-3, .grid__item-4 {
        grid-area: auto;
      }
}

@media(max-width: 767px){
    .features__grid{

    }
    
}

/* FEATURES END */